*.class
*.log
*.xml
.idea/
project/build.properties
project/plugins.sbt
project/project/
project/target/config-classes/$2e26a6c15f4eca5eef19.cache
project/target/config-classes/$3aa7c0c086d50c457bec.cache
project/target/config-classes/$50106723eb2526b142c7.cache
project/target/config-classes/$864286c183e2297f6016.cache
project/target/config-classes/$90175b2fdb8a7db04a42.cache
project/target/config-classes/$b48bbebb9452b93d991a.cache
project/target/scala-2.12/
project/target/streams/
target/.history
target/scala-2.12/resolution-cache/
target/streams/
